*{
  margin: 0;
}
.main{
  height: 51vw;
  display: flex;
  flex-direction: row;

}

.left{
  background-color: rgba(254,118,0);
  width: 60vw;
}

.left p{
  margin: 10px;
  color: snow;
  font-weight: bolder;
  font-family: Verdana;
}



.left h1{
  margin-top: 20vw;
  margin-left: 20px;
  position: relative;
  color: #e2a11d ;
  -webkit-text-stroke: 0.2vw;
  text-transform: uppercase;
}

h1::before{
  content: attr(data-text);
  position: absolute;
  color: snow;
  -webkit-text-stroke: 0vw black;
  overflow: hidden;
  font-family: Verdana;
  font-weight: bolder;

  animation: animate 10s infinite;
  
  
}

span{
  font-size: 20px;
}



@keyframes animate{
  0% , 10% , 100%
  {
    width: 0;
    
  }
  90%
  {
    
    width: 90%;
  }
}


/*-------------------------- right ---------------*/
.right{
  width: 40vw;
  background-color: white;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.right h1{
  margin-top: 20vw;
}


.right button{
  margin-top: 2vw;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  border-color: white;
  background-color: rgb(42, 42, 246);
  color: white;
  font-weight: bold;
  font-family: sans serif;
}

.right button:hover{
  background-color: rgb(3, 3, 183);
  cursor: pointer;
}
.button_one{
  margin-right: 20px;
}



/* Styles for screens smaller than 768px (typical mobile screens) */
@media (max-width: 768px) {
  /* Your responsive styles here */
.left h1{
  font-size: 25px;
  
}

.left{
  height: 200em;
}

.right button{
  margin-left: 6em;
}

.right h1{
  font-size: 25px
}
}

/* Styles for screens larger than 768px (typical desktop screens) */
@media (min-width: 769px) {
  /* Your responsive styles here */
  .left{
    
    height: 200em;
  }

  .left h1{
    margin-top: 7em;
  }

  .right button{
    margin-left: 6em;

  }

  .right h1{
    margin-top: 5em;
    
  }
}
